Package: pagekite
Version: 0.3.5-2
Architecture: i386
Maintainer: Hrafnkell Eiriksson <he@klaki.net>
Installed-Size: 172
Depends: python (>> 2.2)
Section: unknown
Priority: extra
Homepage: http://pagekite.net/
Description: personal, private, mobile websites
 PageKite is a system for running web servers on machines without a direct
 connection to the Internet, such as mobile devices or computers behind
 restrictive firewalls.
