*.pyc
*.pyo
*.orig
*-tmp.py
build/
dist/
pagekite.egg-info
doc/pagekite.1
.pybuild
.header
.SELF
sockschain
scripts/breeder.py
deb/*.log
deb/*.debhelper
deb/*.substvars
deb/files
deb/pagekite/
debian
classes.png
classes_pagekite.png
classes_setup.py.png
packages_pagekite.png
pagekite_gtk.py
