#################################[ This file is placed in the Public Domain. ]#
#
# This is a sample .beanstalkrc file
#
#isfrontend
#ports=22,80,443,2222,8080,8081
#protos=http,https,raw,websocket

# Enable the HTTP UI
httpd=localhost:9999
httppass=YOURPASSWORD

# Auto-choose and connect to the 2 closest front-ends!
frontends=2:frontends.b5p.us:2222
fe_certname=frontends.b5p.us
dyndns=pagekite.net

# Set up one tunnel, for now.
backend=http:YOU.pagekite.me:localhost:9999:SECRET

