
-- 
-- Pagekite Back-end configuration file
--

-- Front-End server
pk_site = '<Put your PageKite name here>'
pk_server = '<Put your Front-End server here>'
pk_server_port = <Front-End Connection Port>
pk_server_token = '<Your Shared Token>'

-- Web Server
proxy_web = "127.0.0.1"
proxy_web_port = 80

-- Varius settings
debug = 0
server_reconnect = 1

