Source: pagekite-0.4.4f
Section: net
Priority: optional
Maintainer: PageKite Packaging Team <packages@pagekite.net>
Build-Depends:  cdbs (>= 0.4.90),
                debhelper (>= 7.0.50~),
                python-support (>= 1.0.10),
                python (>= 2.7)
XS-Python-Version: >= 2.3
Standards-Version: 3.9.1
Homepage: https://pagekite.net/

Package: pagekite
Section: net
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python (>= 2.3),
         python (<< 3.0),
         python-socksipychain (>= 2.0),
         python-openssl
Description: Make localhost servers publicly visible.
 PageKite is a system for running publicly visible servers (generally
 web servers) on machines without a direct connection to the Internet,
 such as mobile devices or computers behind restrictive firewalls.
 PageKite works around NAT, firewalls and IP-address limitations by
 using a combination of  tunnels and reverse proxies.
 .
 Natively supported protocols: HTTP, HTTPS
 Partially supported protocols: IRC, Finger
 .
 Any other TCP-based service, including SSH and VNC, may be exposed
 as well to clients supporting HTTP Proxies.
